html{
     background: radial-gradient(circle,#313244,#181825);
     filter: blur(1);
}

#head {
    background-image: url(images/header.webp);
    border-radius: 10px;
    padding: 0px 1px 0px 1px;       
}

#head ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;   
}

#head ul li ul{
    display:flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

#about{
    background-color: black;
    border-radius: 10px;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;  
    overflow: hidden;
    padding: 0px 1px 0px 1px; 
}

.media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 1px 0px 1px; 
}

button{
    background-color: #181825;
    border-radius: 5px;
    height: 5vh;
    width: 5vw;
}

button a{
    color: aliceblue;
}

video,audio{
    border: solid 1px red;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-image: url(images/header.webp);
}

#act {
    border: 1px solid red;
    border-radius: 10px;
    padding: 0px 1px 0px 1px; 
}

#act ul{
    display: flex;
    justify-content: space-between;   
    list-style: none;
    border-radius: 10px;
}

#act ul li img {
    width: 50%;            
    height: auto;
    border-radius: 10px;
    transition: all 0.25s;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#act ul img:hover{
    transform: scale(1.025);
}