html{
     background: radial-gradient(circle,#1d202e,#181825);
     filter: blur(1);
}

#head, #footer {
    background-image: url(images/header.gif);
    border-radius: 10px;
    padding: 0px 1px 0px 1px;       
}

#head ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;   
}

#footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;    
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 50px;
}

#head ul li ul{
    display:flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

#about{
    border-radius: 10px;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;  
    overflow: hidden;
    padding: 0px 1px 0px 1px; 
}

.media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 1px 0px 1px; 
}

button{
    background-color: #181825;
    color: aliceblue;
    border-radius: 5px;
    height: 5vh;
    width: 5vw;
}

button a{
    color: aliceblue;
}

button li{
    color: aliceblue;
}

video{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
audio{
    height: 50px;
    width: auto;
    border-radius: 10px;
    background-color: transparent;
}

#act {
    border-radius: 10px;
    padding: 0px 1px 0px 1px; 
}

#act ul{  
    list-style: none;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    text-align: center;
    gap: 50px;
}

#act ul li{
    color: aliceblue;
}

#act ul li img {
    
    width: 100%;       
    height: auto;
    border-radius: 10px;
    transition: all 0.25s;
}

#act ul img:hover{
    transform: scale(1.025);
}

input{
    background-color: bisque;
    border-radius: 5px;
}

#form{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5vh;
    border: wheat dashed 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

